<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Online Exam</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrap">
  <div class="header">
    <div class="logo"><a href="#"></a></div>
    <div class="image"></div>
    <div class="menu_nav">

    <div class="clr"></div>
    <div class="clr"></div>
    <div class="clr"></div>
        <ul>
          <li class="active"><a href="index.html"><span>Home Page</span></a></li>
          <li><a href="support.html"><span>Support</span></a></li>
          <li><a href="about.html"><span>About Us</span></a></li>
          <li><a href="blog.html"><span>Blog</span></a></li>
          <li><a href="contact.html"><span>Contact Us</span></a></li>
        </ul>
      </div>
  </div>
  <div class="center_content">
    <div class="right_content">
    <div class="article">
    
    </div>
    </div>
    <!--end of left content-->
    <div class="left_content">
      <div class="right_box">
        <div class="title">Related Links</div>
        <ul class="list">
          <li><a href="http://www.free-css.com/">accesories</a></li>
          <li><a href="http://www.free-css.com/">flower gifts</a></li>
          <li><a href="http://www.free-css.com/">specials</a></li>
          <li><a href="http://www.free-css.com/">hollidays gifts</a></li>
          <li><a href="http://www.free-css.com/">accesories</a></li>
          <li><a href="http://www.free-css.com/">flower gifts</a></li>
          <li><a href="http://www.free-css.com/">specials</a></li>
          <li><a href="http://www.free-css.com/">hollidays gifts</a></li>
       
        </ul>
      </div>
    </div>
    <!--end of right content-->
    <div class="clear"></div>
  </div>
  <!--end of center content-->
  <div class="footer">
    <div class="right_footer"> <p>Designed By Gadadhar</p></div>
  </div>
</div>
</body>
</html>
